{% extends 'accounts/base_generic.html' %}

{% block content %}
<a href="{% url 'journal_entry' %}" class="btn btn-info">Create Entry</a>
<a href="{% url 'journal_entries' %}" class="btn btn-info">View Journal Entries</a>
<a href="{% url 'mood_chart' %}" class="btn btn-primary">Mood Chart</a>
<a href="{% url 'mood_pie_chart' %}" class="btn btn-primary">View Mood Pie Chart</a>
<a href="{% url 'logout' %}" class="btn btn-info">Logout</a>

<h2>Sentiment Line Chart for Your Journal Entries</h2>

<!-- Month Filter -->
<form method="get" action="">
    <label for="month">Select Month:</label>
    <select name="month" id="month">
        <option value="">All Months</option>
        <option value="1" {% if selected_month == 1 %}selected{% endif %}>January</option>
        <option value="2" {% if selected_month == 2 %}selected{% endif %}>February</option>
        <option value="3" {% if selected_month == 3 %}selected{% endif %}>March</option>
        <option value="4" {% if selected_month == 4 %}selected{% endif %}>April</option>
        <option value="5" {% if selected_month == 5 %}selected{% endif %}>May</option>
        <option value="6" {% if selected_month == 6 %}selected{% endif %}>June</option>
        <option value="7" {% if selected_month == 7 %}selected{% endif %}>July</option>
        <option value="8" {% if selected_month == 8 %}selected{% endif %}>August</option>
        <option value="9" {% if selected_month == 9 %}selected{% endif %}>September</option>
        <option value="10" {% if selected_month == 10 %}selected{% endif %}>October</option>
        <option value="11" {% if selected_month == 11 %}selected{% endif %}>November</option>
        <option value="12" {% if selected_month == 12 %}selected{% endif %}>December</option>
    </select>
    <button type="submit">Filter</button>
</form>

<!-- Display the sentiment line chart -->
<div class="container">
    <div class="chart">
        <img src="data:image/png;base64,{{ img_data }}" alt="Sentiment Analysis Line Chart" style="background-color: transparent !important;" />
    </div>
</div>

{% endblock %}
